/* whole card style  */
.card-container{    
    border: 1px solid rgb(233, 179, 179);
    border-radius: 5px;
    margin: 5px;
    
}
/* card background */
.single-card{
    background-color: rgba(241, 227, 227, 0.541);
}
/* style image into the card  */
.card-img{
    height: 150px;
    width: 150px;
}
/* style card button  */
.btn-style{
    background-color: rgb(252, 177, 85);
    padding-right: 10px;
}
/* button hover  */
.btn-style:hover{
    background-color: rgb(231, 160, 73);
}
/*card's teacher name color hover */
.teacher-name:hover{
    color: darkorange;
}